




@media (max-width: 446px) {
    #logoutbtn{
        padding: 2vmin 2vmin;
        font-size: 5vw;
     
    }
    #username{
        font-size: 7vw;
    }
   #admindiv{
    padding: 4vw;
   }

    
}

@media (max-width: 544px) {

    
    #logoutbtn{
        padding: 1.7vw 1.2vw;
        font-size: 4vw;
    }
    #username{
        font-size: 6vw; 
    }
    #hellotext{
        font-size: 4vw;
        
        
    }
   #admindiv{
    padding: 4vw;
   }

    
}






@media (max-width: 463px) {

    
    #logoutbtn{
        padding: 1.7vw 0.8vw;
        font-size: 4vw;
    }
    #username{
        font-size: 5vw; 
    }
    #hellotext{
        font-size: 4vw;
        
        
    }
   #admindiv{
    padding: 4vw;
   }

    
}



@media (max-width: 463px) {

    
    #logoutbtn{
        padding: 1.7vw 1vw;
        font-size: 4vw;
    }
  
}
@media (max-width: 510px) {
    #adminbtn{
        padding: .6vw 1vw;
        font-size: 3vw;
        text-align: justify;
    } 
    
}

@media (max-width: 493px) {
    #adminbtn{
        padding: .4vw 1vw;
        font-size: 3vw;
        text-align: justify;
        

    } 
    #adminh1 span{
        font-size: 22px;
    }
    
}


@media (max-width: 392px) {
    #adminbtn{
        padding: .2vw 2vw;
        font-size: 10px;
        text-align: justify;
        

    } 
    #adminh1 span{
        font-size: 20px;
    }
    
}


@media (max-width: 363px) {
    #adminbtn{
        padding: .2vw 2vw;
        font-size: 10px;
        text-align: justify;
        

    } 
    #adminh1 span{
        font-size: 20px;
    }
    
}