/* The Purpose of this file is not  rather than Reponsiveness */
/* @media (max-width: 514px) {
   
    #loginform{
        border: none;
        padding: 0;
    }
    #loginform input{
        padding: 1.6vw 2.2vw;
        border: 4px solid #9333ea;
        font-size: 5.2vw;
      
    }
    #loginform button{
        padding: 1.6vw 2.2vw;
        font-size: 5.2vw;
    }
} */
 @media (max-width: 510px) {
    #childlogin{
        padding: 5vw 10vmin;
    }
    #childlogin input{
        padding: 1vw 10px;
        border: 2px solid #9333ea;;
        font-size: 4.4vw;
    }
    #childlogin button{
        padding: .5vw 10px;
        font-size: 1rem;
        border: 2px solid #9333ea;
    }
    #childlogin h3{
        font-size: 4vw;
    }
 }


 @media (max-width: 386px) {
    #childlogin{
        padding: 5vw 10vmin;
    }
    #childlogin input{
        padding: .5vw 10px;
        border: 2px solid #9333ea;;
        font-size: 4.4vw;
    }
    #childlogin button{
        padding: .5vw 10px;
        font-size: 1rem;
        border: 2px solid #9333ea;
    }
    #childlogin h3{
        font-size: 4vw;
    }

    
 }